{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
    <h2>Please Login</h2>
    <h3>(Note: Must be a Superuser. Please check with site admin)</h3>

    {% if form.errors %}
        <p>Username or password are incorrect</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}